<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Webpack App</title>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<style>
#canvas {
	border: 1px solid #000;
}
</style>
<body>
	<canvas id="canvas" width="600" height="600"></canvas>
</div>

<script>
function drawBall(ctx){
	ctx.beginPath()
	let x = parseInt(WIDTH * Math.random())
	let y = parseInt(HEIGHT* Math.random())
	let radius = 5
	position.push({
		x, y
	})
	ctx.arc(x, y, radius, 0, CIRCLE)
	ctx.fill()
}

let canvas = document.getElementById('canvas')
let ctx = canvas.getContext('2d')
const WIDTH = canvas.width
const HEIGHT = canvas.height
const CIRCLE = Math.PI * 2

let position = []
for( let i=0; i<200; i++ ){
	drawBall(ctx)
}
//setInterval(() => {
var drawNew = function(){ 
	ctx.beginPath()
	let newPosition = []
	let radius = 5
	ctx.clearRect(0, 0, WIDTH, HEIGHT)
	position.forEach(item => {
		ctx.beginPath()
		let disX = 4 * Math.random() - 2
		let disY = 4 * Math.random() - 2
		let x = item.x + disX
		let y = item.y + disY
		newPosition.push({x, y})
		ctx.arc(x, y, radius, 0, CIRCLE)
		ctx.fill()

		position.forEach(val => {
			let minDis = 20
			if( Math.abs(val.x - x) < minDis && Math.abs(val.y - y) < minDis ){
				ctx.beginPath()
				ctx.moveTo(val.x, val.y)
				ctx.lineTo(x, y)
				ctx.stroke()
			}
		})
	})
	position = newPosition
	requestAnimationFrame(drawNew)
}
requestAnimationFrame(drawNew)
</script>

</body>
</html>
