<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>App</title>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<style>
#canvas {
	border: 1px solid #999;
}
</style>
<body>
<canvas id="canvas" width="600" height="600"></canvas>
<script>
let canvas = document.getElementById('canvas')
let ctx = canvas.getContext('2d')
const WIDTH = canvas.width
const HEIGHT = canvas.height

class Painter{
	constructor(ctx, maxSpeed=5, quantity=100, minDis=50, lineWidth=1, color='rgba(0, 0, 0, 0.1)'){
		this.maxSpeed = maxSpeed
		this.quantity = quantity
		this.minDis = minDis 
		this.lineWidth = lineWidth
		this.color = color
		this.ctx = ctx

		this.position = []
		//生成随机位置和速度
		for( let i=0; i<this.quantity; i++ ){
			let x = parseInt(WIDTH * Math.random())
			let y = parseInt(HEIGHT* Math.random())
			let speedX = this.maxSpeed * (Math.random() - 0.5) || 1
			let speedY = this.maxSpeed * (Math.random() - 0.5) || 1

			this.position.push({
				x, y, 
				speed: {
					x: speedX,
					y: speedY
				}
			})
		}
	}
	drawBall(){
		let _this = this
		let newPosition = []
		let posLen = this.position.length
		let ctx = this.ctx
		ctx.clearRect(0, 0, WIDTH, HEIGHT)
		this.position.forEach((item, index) => {
			let { x, y } = item
			 
			for( let i=index; i<posLen; i++ ){
				if( _this.position[i] ){
					let val = _this.position[i]
					let absX = Math.abs(val.x - x)
					let absY = Math.abs(val.y - y)
					if(  absX < _this.minDis &&  absY < _this.minDis ){
						ctx.beginPath()
						ctx.lineWidth = _this.lineWidth
						ctx.moveTo(val.x, val.y)
						ctx.lineTo(x, y)
						ctx.strokeStyle = _this.color
						ctx.stroke()
					}
				}
			}
			x = item.x + item.speed.x 
			y = item.y + item.speed.y
			
			if( x < 0 || x > WIDTH ) item.speed.x = -item.speed.x
			if( y < 0 || y > HEIGHT ) item.speed.y = -item.speed.y
			newPosition.push({x, y, speed: item.speed})
		})
		this.position = newPosition

		//按1秒60帧来显示，两者比较
		//requestAnimationFrame(() => this.drawBall())
		setTimeout(() => this.drawBall(), 16)
	}
}

let ant_1 = new Painter(ctx, 5, 200, 100, 1)
ant_1.drawBall()

</script>
</body>
</html>
