<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Webpack App</title>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<style>
.box {
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: space-between;
}
.box:after{
	content: '';
	width: 100%;
	max-width: 30%;
}
.item {
	width: 100%;
	height: 50px;
	border: 1px solid green;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	max-width: 30%;
}
iframe {
	width: 100%;
	height:800px;
}
</style>
</head>

<body>

<div class="box">
	<div class="item">1</div>
	<div class="item">2</div>
	<br>
	<h2>shein</h2>
	<!--<form action="https://pc3.shein.com/ltspc/transformer/CAY900099" method="post">-->
	<!--<form action="https://m3.sheinoutlet.com/ltspc/transformer/CAY900099" method="post">-->
	<--<form action="http://localhost:3008/ltspc/transformer/KKC50145" method="post">-->
	<!--<form action="https://m3.sheinoutlet.com/ltspc/transformer/CAY900099" method="post">-->
		siteuid<input name="SiteUID" value="msus" />
		token<input name="Token" value="133618012598_5c7652a143d056.69468274_7ac904e918b1dcedfb152335c87f732ceebbb853" />
		applanguage<input name="AppLanguage" value="en" />
		appcurrency<input name="AppCurrency" value="USD" />

		paycode<input name="payCode" value="worldpay-card" />
		语言文件lang<input name="lang" value="en" />
		sitefrom<input name="siteFrom" value="msus" />
		email<input name="email" value="xgquan@dotfashion.cn" />
		nickname<input name="nickname" value="xgquan" />
		originSite<input name="originSite" value="https://sus3.sheinoutlet.com" />
		<button type="submit">submit</button>
	</form>

	<h2>romwe</h2>
	<!--<form action="https://pc3.romwe.com/ltspc/transformer/RWLXZ44877" method="post">-->
	<--<form action="http://localhost:3007/ltspc/transformer/RWXXB44877" method="post">-->
        siteuid<input name="SiteUID" value="rw" />
        token<input name="Token" value="905319560285_5c6a5b78757661.94395748_adef82d6ea78a8376b765300f887a99f0776e9a3" />
        applanguage<input name="AppLanguage" value="en" />
        appcurrency<input name="AppCurrency" value="USD" />

        paycode<input name="payCode" value="worldpay-card" />
        语言文件lang<input name="lang" value="en" />
        sitefrom<input name="siteFrom" value="pc" />
		email<input name="email" value="aa@123.com" />
		nickname<input name="nickname" value="aa" />
		originSite<input name="originSite" value="https://pc3.romwe.com" />
        <button type="submit">submit</button>
    </form>
	
</div>
<!--
<iframe id="iframetest" src="http://localhost:3000/transformer/RWLXZ44877?SiteUID=rw&Token=371619560285_5c467bef103cc5.96326273_629deb760e57d119a17be6ca034304a4d44633f7&AppLanguage=en&AppCurrency=USD&lang=en&siteFrom=pc&payCode=worldpay">
	</iframe>
-->

<button onclick="test()">test</button>
<script>
/*
var x = 11;
var obj = {
	x: 22,
	a: {
		a: 33,
		fn(){
			console.log(this);
		}
	}
};
obj.a.fn();
var fn = obj.a.fn;
fn();
*/


    // 这里是关键，发送信息
    //window.parent.frames[0].postMessage('haha', '*');
//console.log(document.getElementById("iframetest").contentWindow);
/*
function test(){
	console.log($('#iframetest')[0].contentWindow.$('#message').length)
}
window.addEventListener('message', function(e) {
	console.log(e.data);
});
*/


</script>

</body>
</html>
