<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Webpack App</title>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<style>
.box {
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: space-between;
}
.box:after{
	content: '';
	width: 100%;
	max-width: 30%;
}
.item {
	width: 100%;
	height: 50px;
	border: 1px solid green;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	max-width: 30%;
}
iframe {
	width: 100%;
	height:800px;
}
</style>
</head>

<body>

<div class="box">
	<div class="item">1</div>
	<div class="item">2</div>
	<br>
	<h2>shein</h2>
	<!-- 生产环境<form action="http://localhost:3008/ltspc/transformer/LYP51563" method="post">-->
	<-- 测试环境<form action="http://localhost:3008/ltspc/transformer/XZZ900112" method="post">-->
		siteuid<input name="SiteUID" value="www" />
		<!-- token 生产<input name="Token" value="208818012598_5c86009bd112e6.11259159_f9274730553536430767e39501e0f15ea4dc5816" /> -->
		<-- token 测试<input name="Token" value="415042133793_5c86035bd87604.85631408_ad48a8f3d3357bac432c0a501ec4893cdc2bb0eb" /> -->
		<!--applanguage<input name="AppLanguage" value="en" />-->
		appcurrency<input name="AppCurrency" value="USD" />

		paycode<input name="payCode" value="worldpay-card" />
		语言文件lang<input name="lang" value="en" />
		sitefrom<input name="siteFrom" value="pc" />
		email<input name="email" value="xgquan@dotfashion.cn" />
		nickname<input name="nickname" value="xgquan" />
		originSite<input name="originSite" value="http://localhost:3008" />
		<button type="submit">submit</button>
	</form>

	<h2>romwe</h2>
	<!--<form action="https://pc3.romwe.com/ltspc/transformer/RWLXZ44877" method="post">-->
	<--<form action="http://localhost:3007/uk/ltspc/transformer/RWXYA40881" method="post">-->
        siteuid<input name="SiteUID" value="rwmuk" />
        token<input name="Token" value="57515954957_5c8a0e1232e1e8.59591097_55e527934d58f9efdb59ef818694b50d7359f855" />
        applanguage<input name="AppLanguage" value="en" />
        appcurrency<input name="AppCurrency" value="USD" />

        paycode<input name="payCode" value="worldpay-card" />
        语言文件lang<input name="lang" value="en" />
        sitefrom<input name="siteFrom" value="m" />
		email<input name="email" value="aa@123.com" />
		nickname<input name="nickname" value="aa" />
		originSite<input name="originSite" value="http://localhost:3007/uk" />
        <button type="submit">submit</button>
    </form>
	
</div>
<!--
<iframe id="iframetest" src="http://localhost:3000/transformer/RWLXZ44877?SiteUID=rw&Token=371619560285_5c467bef103cc5.96326273_629deb760e57d119a17be6ca034304a4d44633f7&AppLanguage=en&AppCurrency=USD&lang=en&siteFrom=pc&payCode=worldpay">
	</iframe>
-->

<button onclick="test()">test</button>
<script>
/*
var x = 11;
var obj = {
	x: 22,
	a: {
		a: 33,
		fn(){
			console.log(this);
		}
	}
};
obj.a.fn();
var fn = obj.a.fn;
fn();
*/


    // 这里是关键，发送信息
    //window.parent.frames[0].postMessage('haha', '*');
//console.log(document.getElementById("iframetest").contentWindow);
/*
function test(){
	console.log($('#iframetest')[0].contentWindow.$('#message').length)
}
window.addEventListener('message', function(e) {
	console.log(e.data);
});
*/


</script>

</body>
</html>
