<html>
<head>
<meta charset="UTF-8">
<title>App</title>
<style>
</style>
<body>

<div id="message"></div>
<script>

var then = Date.now()
var i = 0
var el = document.getElementById('message')

//所有的异步过程被阻塞，最后才渲染文本内容
while (true) {
	var now = Date.now()
	if (now - then > 1000) {
		if (i++ >= 5) {
			break;
		}
		el.innerText += 'test\n'
		console.log(i)
		then = now
	}
}

//计算帧数
//var then = Date.now()
//var count = 0
//
//function nextFrame(){
// 	requestAnimationFrame(function(){
//    	count ++
//    	if(count % 20 === 0){
//			var time = (Date.now() - then) / count
//			var ms = Math.round(time*1000) / 1000
//			var fps = Math.round(100000/ms) / 100
//			console.log(`count: ${count}\t${ms}ms/frame\t${fps}fps`)
//    	}
//		nextFrame()
//	})
//}
//nextFrame()
</script>

</body>
</html>
